# Allgemeine Ignorierungen
node_modules
HELP.md
Consumer/target/
Consumer/!.mvn/wrapper/maven-wrapper.jar
Consumer/!**/src/main/**/target/
Consumer/!**/src/test/**/target/

Producer/target/
Producer/!.mvn/wrapper/maven-wrapper.jar
Producer/!**/src/main/**/target/
Producer/!**/src/test/**/target/
Producer/frontend/generated/jar-resources

### Entwicklungsumgebungen ###
# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/
